@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200&display=swap');
body{
    font-family:'Montserrat Alternates', sans-serif;
}

/* Project */

.project{
    height: 650px !important;
    background: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.crud-img{
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.img-project{
    height: 350px;
    border-radius:10px 10px 0 0 !important ;
    -webkit-border-radius:10px 10px 0 0 !important ;
    -moz-border-radius:10px 10px 0 0 !important ;
    -ms-border-radius:10px 10px 0 0 !important ;
    -o-border-radius:10px 10px 0 0 !important ;
}

.btn1{
    border: none;
}
.borderContact{
    border-top: 1px solid #17a2b8 ;
}
.btn2{
    width: 90%;
    margin-left:5%;
    border: none;
    padding: 5px;
    /* margin: 10px 5%; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}